<!DOCTYPE html>
<html lang="de">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="../../lib/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../pp2.css">

    <script src="../../lib/fastclick/fastclick.js"></script>
    <script>
        window.addEventListener('load', function () {
            FastClick.attach(document.body);
        }, false);
    </script>
    <script src="../../lib/angular/angular.js"></script>
    <script src="../../lib/angular-locale_de.js"></script>
    <script src="../../lib/lodash/lodash.compat.js"></script>
    <script src="../../lib/canvasjs.min.js"></script>

    <script src="../pp2.js"></script>
    <script src="../filters.js"></script>
    <script src="evaluator.js"></script>
    <script src="calculator.js"></script>
    <script src="chart.js"></script>
    <script src="directives.js"></script>
    <script src="controller.js"></script>

    <!--    <script src="//localhost:35729/livereload.js"></script> -->

    <title>Probenprophet 2.0 - Fertigkeitsproben</title>
</head>
<body data-ng-app="pp2">
<div data-ng-controller="CheckController">
    <div class="container">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="attributesInput" class="control-label col-xs-4">Eigenschaften</label>

                <div class="col-xs-8">
                    <input data-ng-repeat="i in [0,1,2]" id="attributesInput" class="form-control" type="number" data-ng-model="check.attributes[i]">
                </div>
            </div>
            <div class="form-group form-inline">
                <label for="valueInput" class="control-label col-xs-4">Wert</label>

                <div class="col-xs-8">
                    <input id="valueInput" class="form-control" type="number" data-ng-model="check.value">

                    <div class="checkbox-inline">
                        <label>
                            <input type="checkbox" data-ng-model="check.options.minimumQuality">
                            Minimaleffekt
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group form-inline">
                <label for="difficultyInput" class="control-label col-xs-4">Erschwernis</label>

                <div class="col-xs-8">
                    <input id="difficultyInput" class="form-control" type="number" data-ng-model="check.difficulty">
                    <!--
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">
                            DSA5 Notation
                        </label>
                    </div>
                    -->
                </div>
            </div>

            <ul class="nav nav-tabs" role="tablist">
                <li data-ng-repeat="tab in tabs" data-ng-class="{active: tab == currentTab}"><a href="#" data-ng-click="switchTab(tab)">{{ tab.title }}</a></li>
            </ul>
            <div class="col-xs-12">
                <div data-ng-include="currentTab.template"></div>
            </div>
            <script type="text/ng-template" id="pie.tpl.html">
                <div class="col-xs-12 col-lg-3">
                    <h4>Durchschnittliche Qualit&auml;t</h4>
                    <ul>
                        <li>sofern gelungen: {{ result.success.quality | number:5 }}</li>
                        <li>&uuml;ber alle Ergebnisse: {{ result.quality | number:5 }}</li>
                    </ul>
                    <h4>Wahrscheinlichkeit</h4>
                    <ul>
                        <li>Misslungen: <span class="text-danger">{{ result.failure.probability | percentage }}</span></li>
                        <li>Gelungen: <span class="text-success">{{ result.success.probability | percentage }}</span></li>
                        <ul>
                            <li data-ng-repeat="partition in result.success.partitions.slice().reverse()">
                                mit Qualit&auml;t {{ partition.quality }}: <span class="text-success">{{ partition.probability | percentage }}</span>
                            </li>
                        </ul>
                    </ul>
                </div>
                <canvasjs-chart id="pieChart" check="check" getter="getPieData" class="col-xs-12 col-lg-4 center-block" style="height: 333px;"></canvasjs-chart>
            </script>
            <script type="text/ng-template" id="bar.tpl.html">
                <canvasjs-chart id="barChart" check="check" getter="getBarData" class="col-xs-12 col-lg-7 center-block" style="height: 333px;"></canvasjs-chart>
            </script>
            <script type="text/ng-template" id="roll.tpl.html">
                TBD
            </script>
            <script type="text/ng-template" id="log.tpl.html">
                <div class="col-xs-7 col-lg-3">
                    <button class="btn btn-primary btn-block log" data-ng-click="addLog()">
                        Hinzuf&uuml;gen
                    </button>
                </div>
                <div class="col-xs-5 col-lg-offset-7 col-lg-2">
                    <button class="btn btn-danger btn-block log" data-ng-click="clearLog()" data-ng-disabled="log.length == 0">
                        Leeren
                    </button>
                </div>
                <div class="col-xs-12 table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Eigenschaften</th>
                            <th>Wert</th>
                            <th>+/-</th>
                            <th>Chance</th>
                            <th>Qualit&auml;t (gelungen)</th>
                            <th>Qualit&auml;t (alle)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="entry in log">
                            <td>{{ entry.check.attributes[0] }} / {{ entry.check.attributes[1] }} / {{ entry.check.attributes[2] }}</td>
                            <td>{{ entry.check.value }}</td>
                            <td>{{ entry.check.difficulty | signed }}</td>
                            <td>{{ entry.result.success.probability | percentage }}</td>
                            <td>{{ entry.result.success.quality | number:5 }}</td>
                            <td>{{ entry.result.quality | number:5 }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </script>
            <script type="text/ng-template" id="advanced.tpl.html">
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" data-ng-model="check.options.festeMatrix"
                                   data-ng-disabled="check.options.wildeMagie || check.options.spruchhemmung">
                            Vorteil &quot;Feste Matrix&quot;
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" data-ng-model="check.options.wildeMagie" data-ng-disabled="check.options.festeMatrix">
                            Nachteil &quot;Wilde Magie&quot; / &quot;Tollpatsch&quot;
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" data-ng-model="check.options.spruchhemmung" data-ng-disabled="check.options.festeMatrix">
                            Nachteil &quot;Spruchhemmung&quot;
                        </label>
                    </div>
                </div>
            </script>
        </form>
    </div>
</div>
</body>
</html>
