<div data-ng-controller="CheckController">
    <div class="container">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="attributesInput0" class="control-label col-xs-4 col-md-6">Eigenschaften</label>

                <div class="col-xs-8 col-md-6">
                    <select data-ng-repeat="i in [0,1,2]" id="attributesInput{{i}}" data-ng-model="check.attributes[i]" class="form-control">
                        <option data-ng-repeat="o in _.range(20, 0, -1)">{{o}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group form-inline">
                <label for="valueInput" class="control-label col-xs-4 col-md-6">Wert</label>

                <div class="col-xs-8 col-md-6">
                    <select id="valueInput" class="form-control" data-ng-model="check.value">
                        <option data-ng-repeat="o in _.range(25, -6, -1)">{{o}}</option>
                    </select>

                    <div class="checkbox-inline">
                        <label>
                            <input type="checkbox" data-ng-model="check.options.minimumQuality">
                            Minimaleffekt
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group form-inline">
                <label for="difficultyInput" class="control-label col-xs-4 col-md-6">Erschwernis</label>

                <div class="col-xs-8 col-md-6">
                    <select id="difficultyInput" class="form-control" data-ng-model="check.difficulty">
                        <option data-ng-repeat="o in _.range(30, -31, -1)">{{o}}</option>
                    </select>

                    <!--
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">
                            DSA5 Notation
                        </label>
                    </div>
                    -->
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-1 col-xs-11 col-lg-offset-6">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" data-ng-model="check.options.festeMatrix"
                                   data-ng-disabled="check.options.wildeMagie || check.options.spruchhemmung">
                            Vorteil <i>Feste Matrix</i>
                        </label>
                    </div>
                </div>
                <div class="col-xs-offset-1 col-xs-11 col-lg-offset-6">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" data-ng-model="check.options.wildeMagie" data-ng-disabled="check.options.festeMatrix">
                            Nachteil <i>Wilde Magie</i> / <i>Tollpatsch</i>
                        </label>
                    </div>
                </div>
                <div class="col-xs-offset-1 col-xs-11 col-lg-offset-6">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" data-ng-model="check.options.spruchhemmung" data-ng-disabled="check.options.festeMatrix">
                            Nachteil <i>Spruchhemmung</i>
                        </label>
                    </div>
                </div>
            </div>
        </form>

        <div class="col-lg-offset-2 col-lg-8 col-xs-12 col-md-12">
            <ul class="nav nav-tabs" role="tablist">
                <li data-ng-repeat="tab in tabs" data-ng-class="{active: tab == currentTab}"><a href="#" data-ng-click="switchTab(tab)">{{ tab.title }}</a></li>
            </ul>
            <div class="col-xs-12">
                <div data-ng-include="currentTab.template"></div>
            </div>
            <script type="text/ng-template" id="pie.tpl.html">
                <div class="col-xs-12 col-lg-5">
                    <h4>Durchschnittliche Qualit&auml;t</h4>
                    <ul>
                        <li>sofern gelungen: {{ result.success.quality | number }}</li>
                        <li>&uuml;ber alle Ergebnisse: {{ result.quality | number }}</li>
                    </ul>
                    <h4>Wahrscheinlichkeit</h4>
                    <ul>
                        <li>Misslungen: <span class="text-danger">{{ result.failure.probability | percentage }}</span></li>
                        <li>Gelungen: <span class="text-success">{{ result.success.probability | percentage }}</span></li>
                        <ul>
                            <li data-ng-repeat="partition in result.success.partitions.slice().reverse()">
                                mit Qualit&auml;t {{ partition.quality }}: <span class="text-success">{{ partition.probability | percentage }}</span>
                            </li>
                        </ul>
                    </ul>
                </div>
                <canvasjs-chart id="pieChart" check="check" getter="getPieData" class="col-xs-12 col-lg-6 center-block" style="height: 333px;"></canvasjs-chart>
            </script>
            <script type="text/ng-template" id="bar.tpl.html">
                <canvasjs-chart id="barChart" check="check" getter="getBarData" class="col-xs-12 center-block" style="height: 333px;"></canvasjs-chart>
            </script>
            <script type="text/ng-template" id="log.tpl.html">
                <div class="col-xs-7 col-lg-3">
                    <button class="btn btn-primary btn-block log" data-ng-click="addLog()">
                        Hinzuf&uuml;gen
                    </button>
                </div>
                <div class="col-xs-5 col-lg-offset-7 col-lg-2">
                    <button class="btn btn-danger btn-block log" data-ng-click="clearLog()" data-ng-disabled="log.length == 0">
                        Leeren
                    </button>
                </div>
                <div class="col-xs-12 table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Eigenschaften</th>
                            <th>Wert</th>
                            <th>+/-</th>
                            <th>Chance</th>
                            <th>Qualit&auml;t (gelungen)</th>
                            <th>Qualit&auml;t (alle)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="entry in log">
                            <td>{{ entry.check.attributes[0] }} / {{ entry.check.attributes[1] }} / {{ entry.check.attributes[2] }}</td>
                            <td>{{ entry.check.value }}</td>
                            <td>{{ entry.check.difficulty | signed }}</td>
                            <td>{{ entry.result.success.probability | percentage }}</td>
                            <td>{{ entry.result.success.quality | number }}</td>
                            <td>{{ entry.result.quality | number }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </script>
        </div>
    </div>
</div>
