<div data-ng-controller="CheckController">
    <div class="container">
        <form class="form-horizontal" role="form">
            <div class="form-group form-inline">
                <label for="attributesInput0" class="control-label col-xs-4 col-md-6">Eigenschaften</label>

                <div class="col-xs-8 col-md-6">
                    <select data-ng-repeat="i in [0,1,2]" id="attributesInput{{i}}" data-ng-model="check.attributes[i]"
                            ng-options="o for o in _.range(20, 0, -1)" class="form-control"></select>
                </div>
            </div>
            <div class="form-group form-inline">
                <label for="valueInput" class="control-label col-xs-4 col-md-6">Fertigkeit</label>

                <div class="col-xs-8 col-md-6">
                    <select id="valueInput" data-ng-model="check.skill" data-ng-options="o for o in _.range(25, -6, -1)" class="form-control"></select>

                    <div class="checkbox-inline">
                        <label>
                            <input type="checkbox" data-ng-model="check.options.minimumQuality">
                            Minimaleffekt
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group form-inline">
                <label for="difficultyInput" class="control-label col-xs-4 col-md-6">Modifikatoren</label>

                <div class="col-xs-8 col-md-6">
                    <select id="difficultyInput" data-ng-model="check.difficulty" data-ng-options="o.value as showDifficulty(o.value) for o in difficultyRange"
                            class="form-control" style="padding: 2px;"></select>

                    <div class="checkbox-inline">
                        <label>
                            <input type="checkbox" data-ng-model="check.options.edition" data-ng-false-value="4" data-ng-true-value="5">
                            DSA 5 Regeln
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-1 col-xs-11 col-lg-offset-6">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" data-ng-model="check.options.festeMatrix"
                                   data-ng-disabled="check.options.wildeMagie || check.options.spruchhemmung">
                            Vorteil <i>Feste Matrix</i>
                        </label>
                    </div>
                </div>
                <div class="col-xs-offset-1 col-xs-11 col-lg-offset-6">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" data-ng-model="check.options.wildeMagie" data-ng-disabled="check.options.festeMatrix">
                            Nachteil <i>Wilde Magie</i> / <i>Tollpatsch</i>
                        </label>
                    </div>
                </div>
                <div class="col-xs-offset-1 col-xs-11 col-lg-offset-6">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" data-ng-model="check.options.spruchhemmung" data-ng-disabled="check.options.festeMatrix">
                            Nachteil <i>Spruchhemmung</i>
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="col-lg-offset-3 col-lg-6 col-xs-12 col-md-12">
        <ul class="nav nav-tabs" role="tablist">
            <li data-ng-repeat="tab in tabs" data-ng-class="{active: tab == currentTab}"><a href="#" data-ng-click="switchTab(tab)">{{ tab.title }}</a></li>
        </ul>
        <div class="col-xs-12">
            <div data-ng-include="currentTab.template"></div>
        </div>
        <script type="text/ng-template" id="pie.tpl.html">
            <div class="col-xs-12 col-lg-5">
                <h4>Durchschnittliche Qualit&auml;t</h4>
                <ul>
                    <li>sofern gelungen: {{ result.success.quality | number }}</li>
                    <li>&uuml;ber alle Ergebnisse: {{ result.quality | number }}</li>
                </ul>
                <h4>Wahrscheinlichkeit</h4>
                <ul>
                    <li>Misslungen: <span class="text-danger">{{ result.failure.probability | percentage }}</span></li>
                    <li>Gelungen: <span class="text-success">{{ result.success.probability | percentage }}</span></li>
                    <ul>
                        <li data-ng-repeat="partition in result.success.partitions.slice().reverse()">
                            mit Qualit&auml;t {{ partition.quality }}: <span class="text-success">{{ partition.probability | percentage }}</span>
                        </li>
                    </ul>
                </ul>
            </div>
            <canvasjs-chart id="pieChart" check="check" getter="getPieData" class="col-xs-12 col-lg-6 center-block" style="height: 333px;"></canvasjs-chart>
        </script>
        <script type="text/ng-template" id="bar.tpl.html">
            <canvasjs-chart id="barChart" check="check" getter="getBarData" class="col-xs-12 center-block chart"></canvasjs-chart>
        </script>
        <script type="text/ng-template" id="log.tpl.html">
            <div class="col-xs-7 col-lg-3">
                <button class="btn btn-primary btn-block log" data-ng-click="addLog()">
                    Hinzuf&uuml;gen
                </button>
            </div>
            <div class="col-xs-5 col-lg-offset-7 col-lg-2">
                <button class="btn btn-danger btn-block log" data-ng-click="clearLog()" data-ng-disabled="log.length == 0">
                    Leeren
                </button>
            </div>
            <div class="col-xs-12 table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Eigenschaften</th>
                        <th>Wert</th>
                        <th>+/-</th>
                        <th>Chance</th>
                        <th>Qualit&auml;t (gelungen)</th>
                        <th>Qualit&auml;t (alle)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="entry in log">
                        <td>{{ entry.check.attributes[0] }} / {{ entry.check.attributes[1] }} / {{ entry.check.attributes[2] }}</td>
                        <td>{{ entry.check.skill }}</td>
                        <td>{{ entry.check.difficulty | signed }}</td>
                        <td>{{ entry.result.success.probability | percentage }}</td>
                        <td>{{ entry.result.success.quality | number }}</td>
                        <td>{{ entry.result.quality | number }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </script>
        <script type="text/ng-template" id="editions.tpl.html">
            <div class="col-xs-12 col-lg-6">
                <h4 class="text-center">DSA 4</h4>
                <canvasjs-chart id="pieChart4" check="check" getter="getPieData4" class="col-xs-12 col-lg-6 center-block chart"></canvasjs-chart>
            </div>
            <div class="col-xs-12 col-lg-6">
                <h4 class="text-center">DSA 5</h4>
                <canvasjs-chart id="pieChart5" check="check" getter="getPieData5" class="col-xs-12 col-lg-6 center-block chart"></canvasjs-chart>
            </div>
        </script>
        <script type="text/ng-template" id="privacy.tpl.html">
            <div class="col-xs-12">
                <h4>Hinweise zum Datenschutz</h4>

                <p style="text-align: left">
                    Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. („Google“). Google Analytics verwendet sog. „Cookies“,
                    Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen. Die durch das
                    Cookie erzeugten Informationen über Ihre Benutzung dieser Website werden in der Regel an einen Server von Google in den USA übertragen und
                    dort
                    gespeichert. Im Falle der Aktivierung der IP-Anonymisierung auf dieser Website, wird Ihre IP-Adresse von Google jedoch innerhalb von
                    Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum zuvor gekürzt.
                    Nur in
                    Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt. Im Auftrag des Betreibers dieser
                    Website wird Google diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten
                    zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen gegenüber dem Websitebetreiber
                    zu
                    erbringen. Die im Rahmen von Google Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google
                    zusammengeführt.</p>

                <p style="text-align: left">
                    Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern. Sie können darüber hinaus die
                    Erfassung der durch das Cookie erzeugten und auf Ihre Nutzung der Website bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die
                    Verarbeitung dieser Daten durch Google verhindern, indem Sie das unter dem folgenden Link (<a
                        href="http://tools.google.com/dlpage/gaoptout?hl=de">http://tools.google.com/dlpage/gaoptout?hl=de</a>)
                    verfügbare Browser-Plugin herunterladen und installieren.</p>

                <p style="text-align: left">
                    Sie können die Erfassung durch Google Analytics verhindern, indem Sie auf folgenden Link klicken. Es wird ein Opt-Out-Cookie gesetzt, das
                    die
                    zukünftige Erfassung Ihrer Daten beim Besuch dieser Website verhindert:
                    <a href="javascript:gaOptout()">Google Analytics deaktivieren</a></p>

                <p style="text-align: left">
                    Nähere Informationen zu Nutzungsbedingungen und Datenschutz finden Sie unter <a href="http://www.google.com/analytics/terms/de.html">http://www.google.com/analytics/terms/de.html</a>
                    bzw. unter
                    <a href="https://www.google.de/intl/de/policies/">https://www.google.de/intl/de/policies/</a>. Wir weisen Sie darauf hin, dass auf dieser
                    Website Google Analytics mit der Einstellung
                    <i>anonymizeIp</i> konfiguriert wurde, um eine anonymisierte Erfassung von IP-Adressen (sog. IP-Masking) zu gewährleisten.</p>
            </div>
        </script>
    </div>
</div>
